<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Speed Test</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/dashboard.css?v=4') }}">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- reload page every 60 seconds -->
    <meta http-equiv="refresh" content="60">
</head>

<body class="pastel-theme">
    <header class="header">
        <div class="container header-content">
            <img src="{{ url_for('static', path='images/logo.png') }}" alt="Speedo" class="logo">
            <div class="main-title">
                <h1>Background-SpeedTest Dashboard</h1>
                <div class="status">
                    Showing date range: <span id="status-text">{{data[0]["dates"][0]}} to {{data[0]["dates"][-1]}}</span>
                </div>
            </div>
        </div>
    </header>
    
    <main class="main-content">
        <div class="charts-wrapper">
            <div class="chart-container-big">
                <canvas id="combinedChart"></canvas>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>Powered by <a href="https://github.com/gilbo123/BackgroundSpeedTest">Background Speed Test</a></p>
        </div>
    </footer>

    <!-- JavaScript code to create the combined chart -->
    <script>
        var ctx = document.getElementById('combinedChart').getContext('2d');
        var combinedChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ data[0]["dates"] | tojson }},
                datasets: [{
                    label: 'Download (Mbps)',
                    data: {{ data[0]["downloads"] | tojson }},
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    tension: 0.1,
                    yAxisID: 'y-axis-1'
                }, {
                    label: 'Upload (Mbps)',
                    data: {{ data[0]["uploads"] | tojson }},
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    tension: 0.1,
                    yAxisID: 'y-axis-1'
                }, {
                    label: 'Ping (ms)',
                    data: {{ data[0]["pings"] | tojson }},
                    borderColor: 'rgba(153, 102, 255, 0.25)',
                    backgroundColor: 'rgba(153, 102, 255, 0.1)',
                    tension: 0.1,
                    yAxisID: 'y-axis-2'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 30,
                        }
                    }],
                    yAxes: [{
                        id: 'y-axis-1',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Speed (Mbps)'
                        }
                    }, {
                        id: 'y-axis-2',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Ping (ms)'
                        }
                    }]
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Network Performance'
                    },
                    legend: {
                        position: 'top'
                    }
                }
            }
        });

    </script>
</body>
</html>
