body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pastel-theme {
    --primary-color: #a0d2eb;
    --secondary-color: #e5eaf5;
    --text-color: #4a4a4a;
    --accent-color: #d0bdf4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    /* width: 200px; */
    height: 50px;
    margin-right: 20px;
}

.main-title h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Courier Prime', monospace;
}

.status {
    font-size: 16px;
    margin-left: 50px;
    font-weight: 400;
    color: #4a4a4a;
    font-family: 'Courier Prime', monospace;
}

.main-content {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.charts-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.chart-container-big {
    flex: 1;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.chart-container-small {
    flex: 1;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 30%;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.footer {
    background-color: var(--accent-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .charts-wrapper {
        flex-direction: column;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
